/*COMMON*/
.navbar{
	background-color: rgb(186, 186, 186);
}

.navbar-brand{
	font-family: 'Parisienne', cursive;
	font-size: 24px;
}

.main{
	margin-top: 75px;
}

footer{
	background-color: rgb(186, 186, 186);
	text-align: center;
}

/*CONNEXION*/
#main-connexion{
	background: url(../img/img-foret.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#modal-connection{
	margin-top: 6%;
	color: #ffffff;
}

#modal-connection .modal-content{
	background-color: #a38a63;
	opacity: 0.9;
}

#modal-connection h1{
	width: 100%;
	margin: 0;
	text-align: center;
	font-family: 'Parisienne', cursive;
	font-size: 46px;
}

#modal-connection h2{
	text-align: center;
	margin-bottom: 16px;
}

#modal-connection .btn{
	border: 1px solid #007E33;
	background-color: #007E33;
}

#modal-connection .btn:hover{
	background-color: #00C851;
}

#modal-connection .col-register {
	border-right: 1px solid lightgrey;
}

@media only screen and (max-width: 991px) {
	#modal-connection .col-register {
		border-right: none;
		border-bottom: 1px solid lightgrey;
		margin-bottom: 16px;
		padding-bottom: 16px;
	}
}

/*ACCUEIL*/
.story-container{
	padding: 15px;
}

.story, .story-text{
	height: 300px;
	border-radius: 5px;
}

.story{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-color: red;
}

.story-text{
	display: none;
	width: calc(100% - 30px);
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: rgba(186, 186, 186, 0.85);
	padding: 30px;
	overflow: auto;
}

.story-read, .story-edit{
	width: 120px;
	margin: 15px 0 0 calc(50% - 60px);
}

/*DASHBOARD*/