/*COMMON*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	line-height: 20pt;
	color: #575757;
}

h1, h2, h3, h4 {
		font-family: 'Delius Unicase', cursive;
		text-transform: capitalize;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.size28, h1 {
	font-size: 28pt;	
}
.size26, h2 {
	font-size: 26pt;
}
.size24, h3{
	font-size: 24pt
}
.size22, h4{
	font-size: 22pt
}
.size16{
	font-size: 16pt;
}
.size12{
	font-size: 12pt;
}
.size10{
	font-size: 10pt;
}
.letter-spaced{
	letter-spacing: 3px;
}
.primary-color{
	color: #CAA681;
}
.bg-primary-color{
	background-color: #CAA681;
}
.dark-primary-color{
	color: #b3906d;
}
.bg-dark-primary-color{
	background-color: #b3906d;
}
.secondary-color:hover, .dark-secondary-color{
	color: #727b65;
}
.bg-secondary-color:hover, .bg-dark-secondary-color{
	background-color: #727b65;
}
.secondary-color{
 	color:#8C9481;
}
.bg-secondary-color{
	background-color:#8C9481;
}
.dark-grey{
	color: #575757;
}
.bg-dark-grey{
	background-color:#575757;
}
.really-dark-grey{
	color: #1c1c1c;
}
.bg-really-dark-grey{
	background-color:#1c1c1c;
}

.light-grey{
	color: #dbdbdb;
}
.bg-light-grey{
	background-color: #dbdbdb;
}
.white, .white:hover{
	color: white;
}
.text-deco-none, .text-deco-none:hover {
	text-decoration: none;
}

.btn {
	font-family: 'Delius Unicase', cursive;
	font-weight: 700;
	font-size: 14pt;
	letter-spacing: 2;
}

.main{
	margin-top: 75px;
}
.line-height-h1{
	line-height: 56px;
}

/*CONNEXION*/
#main-connexion{
	background: url(../img/img-foret.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#modal-connection{
	margin-top: 6%;
	color: #ffffff;
}

#modal-connection .modal-content{
	opacity: 0.9;
}

#modal-connection h2{
	width: 100%;
	margin: 0;
	text-align: center;
}

#modal-connection h3{
	margin-bottom: 16px; 
}

.bg-foret {
	background: url(../img/img-foret.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#modal-connection .col-register {
	border-right: 1px solid lightgrey;
}

@media only screen and (max-width: 991px) {
	#modal-connection .col-register {
		border-right: none;
		border-bottom: 1px solid lightgrey;
		margin-bottom: 16px;
		padding-bottom: 16px;
	}
}

/*ACCUEIL*/
.story-container{
	padding: 15px;
}

.story, .story-text{
	height: 300px;
	border-radius: 5px;
}

.story{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.story-text{
	display: none;
	width: calc(100% - 30px);
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: rgba(186, 186, 186, 0.85);
	padding: 30px;
	overflow: auto;
}

.story-read, .story-edit{
	width: 120px;
	margin: 15px 0 0 calc(50% - 60px);
}

/*DASHBOARD*/